/* AdminPage.css */

.company {
  background: #024d86; /* Fond clair pour la section des entreprises */
  padding: 20px; /* Espace autour du contenu */
  border-radius: 8px; /* Coins arrondis */
  border: #3ca1efe6 solid;
  display: flex;
  color: white;
  flex-direction: column;
  width: 80%;
  box-shadow: 0px 1px 4px 1px #9a96ac;
} 
.list-unstyled{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1em;
}
.divnav{
  width: 20%;
  /* background: linear-gradient(15deg, #e3e3ee, #002d5a); */
  color: #fff;
  margin-right: 1em;
  position: relative;
}

.company-item {
  border: 1px solid #0a74da; /* Bord bleu roi */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px; /* Espacement entre les entreprises */
  background: linear-gradient(15deg, #808080, #000000); /* Fond blanc pour les éléments d'entreprise */
}


  
  .adminpagepart1 {
    background-color: #001f3f;
    color: #ffffff;
    padding: 20px;
    min-height: 100vh;
  }
  
  .adminpagepart2 {
    background-color: #f8f9fa;
    padding: 40px;
    min-height: 100vh;
    overflow-y: auto;
  }
  
  /* Navbar styling */
  .navbar {
    color: #fff;
  }
  
  .navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .navbar a:hover {
    background-color: #003366;
  }
  .animationh3a {
      font-weight: bolder;
      color: white;
      text-shadow: 2px 2px 2px #151111, 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 1.7rem;
    margin-top:1em;
    color: #5592ebe0;
    margin-bottom: 2em;
    overflow: hidden;
    text-align: center;
    border-right: 2px solid #5b8c85;
    white-space: nowrap;
    width: 32px;
    animation: typing2 3s steps(30, end) forwards, blink 0.7s infinite step-end alternate;
  }
  @keyframes typing2 {
    from {
      width: 0;
    }
    to {
      width: 900px; /* Ajuste la largeur selon la longueur de ton texte */
    }
  }
  .intervenantDashboardh2{
    text-align: center;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 2px #151111, 1px 1px 2px rgba(0, 0, 0, 0.5);
}

  