.AdminDashboard{
  width: 95%;
}
.AdminDashboard h2{
  text-align: center;
  font-weight: bolder;
  color: #03de4e;
  text-shadow: 2px 2px 2px #151111,
  1px 1px 2px rgba(0,0,0,0.5);
}
.AD-cintenu{
  display: flex;
  justify-content: space-evenly;
}
.AD-cintenu1{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.AdminDashbo{
  background-color: rgba(133, 146, 157, 0);
  margin-top: 3em;
}
