.div{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 3.5%;

}
.divauth{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}
.auth{
    background-color: rgb(110, 68, 121);
    width: 70%;
    padding: 20px;
    box-shadow: 2px 2px 0px 1px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.auth h1{
    text-align: center;  
}
.utilisateur{
    width: 70%;
    margin-top: 20px;
}

 .form1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(110, 68, 121);

}

.boutonauth1{
    margin-top: 20px;
    color:rgb(110, 68, 121) ;
    margin-bottom: 10px;
    width: 71%;
    background-color:rgb(255, 255, 255);
    border: solid 1px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 0px 1px;
}

.boutonauth1:hover{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 71%;
    background-color:rgb(124, 89, 128) ;
    box-shadow: 2px 2px 0px 1px white;
    color: white;
}

.auth input{
    background-color: rgb(110, 68, 121);
    width: 100%;
    color: white;
    height: 30px;
    border:  1px solid white;
}
.auth input:focus{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 30px;
    color: rgb(110, 68, 121);
}
.auth label {
    background-color:rgb(110, 68, 121);
    width: 100%;
}
.boutonauth2 {
    background-color:rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    color: black;
    width: 20%;
}
.boutonauth2:hover {
    background-color:rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    width: 20%;
    color: white;
}
