/* CreateIntervenant.css */

#form-intervenant {
    margin: 0;
    margin-top: 2em;
    font-family: 'Arial', sans-serif;
    padding: 1em;
    background:  linear-gradient(15deg, #808080, #6c757d1a);
    position: absolute;
    top: 2%;
    left: 45%;
    margin-left: 20px; /* Décalage pour qu'il ne soit pas trop collé à l'élément */
    width: 450px; /* Réduit la largeur du détail */
    z-index: 2000;
  }
  
  .max-w-md {
    background: #fff; /* Fond blanc pour le formulaire */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  }
  
  #form-intervenant h3 {
    color: white; /* Couleur blanche pour le titre */
    font-weight: 600;
  }
  
  label {
    color: #ffffff; /* Couleur de texte blanc pour les labels */
    font-weight: bold;
  }
  
  input,
  textarea {
    border: 1px solid #000428; /* Bord bleu roi */
    border-radius: 5px; /* Coins arrondis */
    padding: 10px; /* Espace interne */
    width: 100%; /* Largeur complète */
    transition: border-color 0.3s ease; /* Transition pour la couleur de la bordure */
  }
  
  input:focus,
  textarea:focus {
    border-color: #000428; /* Bord bleu roi au focus */
    outline: none; /* Retire le contour par défaut */
  }
  
  #button-intervenant {
    margin-top: 2em;
    background-color:#000428 ; /* Couleur de fond bleu roi */
    color: white; /* Texte blanc */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    padding: 10px; /* Espace interne */
    cursor: pointer; /* Curseur de pointeur */
    transition: background 0.3s ease; /* Transition pour le fond */
  }
  
  #button-intervenant:hover {
    background: #1c1c1c; /* Fond noir au survol */
  }
  