/* Dashboard.css */

.Dashboard {
    min-height: 100vh;
    border-radius: 10px;
    border: none;

  }
  .nav-buttons button {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
    transition: background-color 0.3s;
  }
  
  .nav-buttons button:hover {
    background-color: #495057;
  }
  
  /* .contenu {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px 1px #9a96ac;
    background: #d5926246; 
    box-shadow: 0px 1px 4px 1px #9a96ac;
    border: #f7d7c6 solid;



  } */
  .nav-buttons button {
    display: flex;
    justify-content: space-evenly;
  }
  .nav-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  #p-4{
    margin-top: 2em;
  }
  .butondash1{
    display: flex;
    justify-content: space-between;
  }
  .butondash1adm{
    display: flex;
    justify-content: space-between;
  }
  #company {
    background:#024d86; /* Fond clair pour la section des entreprises */
    ; /* Fond clair pour la section des entreprises */
    padding: 20px; /* Espace autour du contenu */
    border-radius: 8px; /* Coins arrondis */
    border: #3ca1efe6 solid;
    display: flex;
    color: white;
    flex-direction: column;
    width: 30%;
    height: 150px;
    box-shadow: 0px 1px 4px 1px #9a96ac;
    margin: 2em;
  }
  .butondash1 a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #companyadm {
    background:#024d86; /* Fond clair pour la section des entreprises */
    ; /* Fond clair pour la section des entreprises */
    padding-top: 15px; /* Espace autour du contenu */
    border-radius: 8px; /* Coins arrondis */
    border: #3ca1efe6 solid;
    display: flex;
    color: white;
    flex-direction: column;
    width: 30%;
    height: 106px;
    box-shadow: 0px 1px 4px 1px #9a96ac;
    margin: 0.5em;
  }
  #companyadm p{
    font-size: 12px;
  }
  .butondash1adm a{
    text-decoration: none;
    color: white;
    font-size: 11.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .me-2{
    height: 2em;
    width: 2em;
  }
  .ptachestyle{
    font-size:10px;
    color: white;
  }
  .countertask{
    display: flex;
    justify-content: space-between;
  }